{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>

	<title>
		{% block title %}
		<link rel="/static/images/A_coin_color.png" type="image/png" href="/static/images/A_coin_color.png"/>
		<link rel="/static/images/A_coin_color.png" type="image/png" href="/static/images/A_coin_color.png"/>
		
		{% endblock %}
	</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	

	<link href="{% static "styles/bootstrap-custom.css" %}" rel="stylesheet">


        {% block head-extra %}{% endblock %}
</head>

<body class="text-center">

		{% include 'faucet/header.html' %}

		{% include 'faucet/modal.html' %}

		<div class="container">
			{% block content %}
			{% endblock %}
			{% include 'faucet/footer.html' %}
		</div>


		{% block extend-js %}
		{% endblock %}



</body>
</html>
